<h1>To Do</h1>

<form [formGroup]="todoForm" (submit)="addTodo()">
    <table>
        <tr>
            <td>Description: </td>
            <td>
                <input type="text" formControlName="description">
            </td>
            <td>
                <div *ngIf="todoForm.get('description')?.hasError('required') && !todoForm.pristine"
                    ngClass="error">
                    Mandatory Field!!
                </div>
            </td>
            <td>
                <div *ngIf="todoForm.get('description')?.hasError('minlength') && todoForm.get('description')?.dirty"
                ngClass="error">
                enter at least 5 characters!!
                </div>
            </td>
        </tr>
        <tr>
            <td>Priority: </td>
            <td>
                <label for="low">Low</label>
                <input type="radio" id="low" value="low" formControlName="priority">

                <label for="medium">Medium</label>
                <input type="radio" id="medium" value="medium" formControlName="priority">

                <label for="high">High</label>
                <input type="radio" id="high" value="high" formControlName="priority">
            </td>
        </tr>
        <tr>
            <td>Motivated: </td>
            <td>
                <label for="yes">Yes!</label>
                <input type="radio" id="yes" value="yes" formControlName="feels">

                <label for="no">No...</label>
                <input type="radio" id="no" value="no" formControlName="feels">
            </td>
        </tr>
        <tr>
            <td>Due Date: </td>
            <td>
                <input type="date" formControlName="dueDate" >
            </td>
            <td>
                <div *ngIf="todoForm.get('dueDate')?.hasError('futureDueDateValidation') && todoForm.get('dueDate')?.dirty"
                ngClass="error">
                enter future date!!
                </div>
            </td>
        </tr>
        <tr>
            <td>Procrastinate: </td>
            <td>
                <input type="checkbox" formControlName="procrastinate">
            </td>
        </tr>
        <tr>
            <button type="submit" [disabled]="!todoForm.valid">Add Task</button>
        </tr>
    </table>
</form>

@if (this.todoList.length>0) {
    <h2>Todo List</h2>
    <table>
        <button type="button" (click)="sort()">Sort by</button>
        <thead>
            <tr>
                <th>Task No.</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Priority</th>
                <th>Remove Task</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of this.todoList ; let i = index">
                <td>{{i+1}}</td>
                <td>{{todo.description}}</td>
                <td>{{todo.dueDate}}</td>
                <td>{{todo.priority}}</td>
                <td>
                    <button (click)="removeTodo(todo)">X</button>
                </td>

            </tr>
        </tbody>
    </table>
}
@else {
    <h2>Todo List is empty</h2>
}
