
<table>
    <thead>
        <tr>
            <th>
                Item No.
            </th>
            <th>
                Name
            </th>
            <th>
                Image
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let f of fruitList | keyvalue; let i = index">
            <td>{{i+1}}</td>
            <td>{{f.key}}</td>
            <td>
                <img src="{{'fruits/' + f.key + '.png'}}" height="60" width="60">
            </td>
            <td>
                {{f.value}}
            </td>
            <td>
                <button type="button" (click)="addItem(f.key, f.value)">Add Item</button>
            </td>
        </tr>
    </tbody>
</table>
